<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386225524986-eo5oovjcut0d1h6or1588dmue4l8jtcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386225524986-eo5oovjcut0d1h6or1588dmue4l8jtcq</string>
	<key>API_KEY</key>
	<string>AIzaSyAIfYz6gWDGM7IIqO2p1mMLo0bKQpM-Wfw</string>
	<key>GCM_SENDER_ID</key>
	<string>386225524986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iitu.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-29011</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-29011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386225524986:ios:924fc4dd3dbce2a3db7943</string>
	<key>DATABASE_URL</key>
	<string>https://musicapp-29011.firebaseio.com</string>
</dict>
</plist>